:root{
    --primary-color: #12372A;
    --background-color: #DAF1DE;
    --secondary-color: #bde0c9;
    --heading-color: #436850;
    --text-color: black;
    --border-radius: 10px;
    --font-size: 17px;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}
body {
    width: 100%;
    height: 100%;
}
/*nav bar*/
nav{
    height: auto;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/*logo*/
.logo{
    display: flex;
    width: 170px;
    margin-bottom: 20px;
}
.logo img{
    width: 100%;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.ul{
    align-items: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 19px;
}
.ul a{
    height: 100%;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
    font-weight: 500;
}
ul a:hover{
    transition: all 0.5s ease;
    color: var(--primary-color);
}
li a::after{
    content: "";
    background-color: var(--primary-color);
    width: 0;
    position: absolute;
    height: 0.2rem;
    margin-top: 0.1rem;
    left: 0;
    top: 100%;
}
li a:hover::after{
    width: 100%;
    transition: all 0.3s ease;
}
ul a.active{
    position: relative;
}
ul a.active::after{
    width: 100%;
    transition: none;
}
nav svg{
    fill: var(--primary-color);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}
.icons{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: none;
    cursor: pointer;
}
.search-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 220px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.search-input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    background-color: #12372A;
}
.search-bar label{
    visibility: hidden;
    font-size: 2px;
}
.search-btn{
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #12372A;
    padding: 5px;
}
.search-btn i{
    pointer-events: none;
}
.visually-hidden{
    display: none;
}
/*nav bar responsiveness*/
@media (max-width: 1024px){
    .links-container{
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: whitesmoke;
        transition: 1s ease-out;
    }
    .ul{
        display: flex;
        flex-direction: column;
    }
    .ul a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: center;
    }
    .open-sidebar-button ,.close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .search-container{
        display: none;
    }
    .search-bar{
        display: none;
    }
    .icons{
        display: none;
    }
}

/*main*/
.container{
    max-width: 1500px;
    width: 100%;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 180px;
    height: 500px;
    margin: 8px;
    border-radius: 10px;
    background: url(./pharmacy.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2){
    background: url(./pharmacy1.webp);
    background-size: cover;
    background-position: center;
}    
.img-box:nth-child(3){
    background: url(./pharmacy\ 3.avif);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4){
    background: url(./pressure.jpeg);
    background-size: cover;
    background-position: center;
}
.img-box h3{
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
.img-box:hover{
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
}
.main-text{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    margin-right: 20px;
    border-radius: var(--border-radius);
    padding: 10px;
    animation: main 2s ease 0s 1 normal forwards;
}

/*animation for main text*/
@keyframes main {
	0% {
		opacity: 0;
		transform: translateX(-150px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.main-text h2{
    font-size: 42px;
    margin-bottom: 20px;
}
.main-text h3{
    font-size: 25px;
    font-weight: 500;
    max-width: 500px;
}
.main-text h4{
    font-style: italic;
    width: 500px;
    margin-top: 10px;
    font-size: 21px;
    font-weight: 500;
}
.prescription-btn{
    align-items: center;
    margin-top: 3rem;
    text-decoration: none;
    padding: 1rem 1rem;
    background-color: whitesmoke;
    border: 2px solid  rgb(21, 62, 50);
    color: var(--primary-color);
    font-size: 19px;
    border-radius: 7px;
}
.prescription-btn:hover{
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
@media(max-width:768px){
    .main-text h2{
        font-size: 30px;
    }
    .main-text h3{
        font-size: 20px;
    }
    .main-text h4{
        font-size: 19px;
    }
    .prescription-btn{
        font-size: 15px;
    }
}
@media(max-width:480px){
    .main-text h2{
        font-size: 30px;
    }
    .main-text h3{
        font-size: 20px;
    }
    .main-text h4{
        font-size: 19px;
    }
    .prescription-btn{
        font-size: 15px;
    }
}

/*photo gallery for mobile version only*/
.container .photo-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    background-color: antiquewhite;
}
.column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;

}
.photo img{
    width: 100vh;
    object-fit: cover;
    height: 40vh;
    border-radius: 5px;
}
/*mobile version photo gallery*/
@media(min-width: 769px){  /*hides the photo gallery on screens larger than 768px*/
    .photo-gallery{
        display: none;
    }
}
@media(max-width: 900px){  /* Show the section on screens smaller than 900px (mobile) */
    .photo-gallery{
        display: block;
        padding: 10px;
    }
    .main-gallery{
        display: none;
    }
    .main-text{
        height: 40vh;
    }
}
@media(max-width:1024px){
    .photo-gallery{
        display: block;
    }
    .main-gallery{
        display: none;
    }
}
/*facts*/
.pharmacy-facts{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px auto;
}
.facts{
    font-size: 18px;
    max-width: 500px;
    font-weight: 500;
    padding: 30px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}
.facts i{
    font-size: 30px;
}
@media(max-width: 480px){
    .pharmacy-facts{
        display: flex;
     max-width: 300px;
           flex-wrap: wrap;
    }
    .facts{
        font-size: 15px;
        font-weight: 400;
        padding: 20px;
    }
}
.main-gallery{
    display: none;
}

/*products section*/
.medicine h1{
    text-align: center;
    font-weight: 500;
    padding: 20px;
    background-color: #bde0c9;
    font-size: 22px;
}
.medicene-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.medicene-btn button{
    border: 3px whitesmoke solid;
    padding: 15px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 25px;
    cursor: pointer;
}
.medicene-btn button:hover{
    background-color: #184032;
    transition: all 0.3s ease;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.medicene-btn button.active{
    background-color:  #184032;
    color: white;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin: 0 20px 0 20px;
    gap: 30px;
}
.card{
    padding: 10px;
    border-radius: var(--border-radius);
    width: calc(20%-20px);
    float: left;
    transition: transform 0.4s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}
.card:hover{
    transform: scale(1.1);
}
.card img{
    width: 100%;
    max-width: 270px;
    border-radius: var(--border-radius);
}
.card-info{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
}
.card-info h3{
    font-size: 18px;
    font-weight: 500;
}
.card-info p{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(55, 52, 52);
}
.add-to-cart {
    background-color:var(--secondary-color);
    text-align: center;
    margin-top: 10px;
    border: none;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    font-weight: 500;
    height: 40px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}
.add-to-cart:hover {
    background-color:  #7bc796;
}
.hidden{
    visibility: hidden;
    height: 0;
    overflow: hidden;
}
@media (max-width: 900px){
    .card-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

/*cart table*/
.cart{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    margin-top: 3rem;
    background-color: whitesmoke;
}
.cart-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}
.cart-content{
    margin-bottom: 20px;
    font-size: 21px;
}
.cart-table {
    width: 100%;
    text-align: center;
}
.cart-table th, .cart-table td {
    border: 1px solid #9c9c9c;
    padding: 8px;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 19px;
}
.cart-table th{
    font-weight: 500;
    font-size: 19px;
}
.cart-quantity {
    width: 80px;
    font-size: 18px;
    text-align: center;
}   
.cart-remove {
    color: #d9534f;
    cursor: pointer;
    font-size: 1rem;
}   
.cart-remove:hover {
    color: #c9302c;
}  
.total {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 600;
}
.btn-buy {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #245e49;
    color: white;
    margin: 0 auto;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.btn-buy:hover {
    background-color: #12372A;
}
.quantity-input{
    width: 30%;
    padding: 3px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
}
.remove-btn{
    width: 50%;
    padding: 5px;
    border: none;
    background-color: #c47878;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s;
}
.remove-btn:hover {
    background-color:  #ae4646;
}
.buttons{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}
#addToFavorites{
    width: 30%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #bde0c9;
}
#applyFavorites{
    width: 30%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #bde0c9;
}
/*responsiveness*/
@media(max-width: 768px){
    .cart-table th, .cart-table td{
        font-size: 16px;
        padding: 8px;
    }
    .cart-title{
        font-size: 1rem;
    }
    .btn-buy{
        font-size: 0.9rem;
    }
    .medicene-btn button{
        font-size: 15px;
        padding: 11px;
    }
    .total{
        font-size: 1rem;
    }
    #addToFavorites{
        font-size: 15px;
        padding: 11px;
    }
    #applyFavorites{
        font-size: 15px;
        padding: 11px;
    }
}
@media(max-width: 480px){
    .cart-table th, .cart-table td{
        font-size: 15px;
        padding: 6px;
    }
    .cart-title{
        font-size: 0.9rem;
    }
    .btn-buy{
        font-size: 0.8rem;
    }
    .medicene-btn button{
        font-size: 15px;
        padding: 11px;
    }
    .total{
        font-size: 0.9rem;
    }
    #addToFavorites{
        font-size: 15px;
        padding: 11px;
    }
    #applyFavorites{
        font-size: 15px;
        padding: 11px;
    }
}

/*prescription form*/
.prescription{
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}
.prescription-title{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    margin-top: 50px;
    padding: 10px;
    background-color: #eff3ef;
}
.prescription label{
    display: block;
    margin-top: 10px;
    font-size: 18px;
}
input[type="text"],
select,
textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color:#eff3ef;
}
textarea{
    resize: vertical;
}
input[type="file"]{
    margin-bottom: 10px;
}
.submit-btn{
    align-items: center;
    text-decoration: none;
    padding: 8px;
    border: 2px solid  rgb(21, 62, 50);
    color: var(--primary-color);
    font-size: 19px;
    border-radius: 7px;
    cursor: pointer;
}
@media(max-width:768px){
    .prescription label{
        font-size: 15px;
    }
    .submit-btn{
        font-size: 16px;
        padding: 6px;
    }
}
@media(max-width:480px){
    .prescription label{
        font-size: 15px;
    }
    .submit-btn{
        font-size: 16px;
        padding: 6px;
    }
}

/*footer*/
.footer{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
    font-size: 17px;
}
.footer-container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-column{
    flex: 1 1 250px;
    margin-bottom: 20px;
    padding: 20px;
}
.footer-column img{
    width: 100%;
    max-width: 200px;
    height: auto;
}
.footer-column h3{
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
}
.footer-column p, li{
    text-decoration: none;
    list-style-type: none;
    line-height: 1.7;
}
.footer-column a{
    color: white;
    text-decoration: none;
}
.footer-column a:hover{
    color: white;
    text-decoration: underline;
}
.social-icons i{
    display: inline-block;
    margin-right: 20px;
    font-size: 30px;
}
.footer-bottom{
    text-align: center;
    padding-top: 20px;
}
.footer-bottom p{
    font-size: 14px;
}


 /*footer responsiveness*/
@media (max-width: 900px){
.footer-row{
    flex-direction: column;
}
.footer-column{
    flex: 1 1 100%;
    margin-bottom: 30px;
}
}
